@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



li {
    list-style-type: none;
}

p {
    line-height: 1,5;
    font-size: 16px;
}

a {
    text-decoration: none;
}
section {
    background-color: rgb(245,245,245);
}
.click {
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);

}
.click:active {
    transform: scale(0.8);

}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.orange {
    color: #f06449 !important;
}





/* LANDING PAGE */

#langing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;

}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}

.social__list {
    margin-top: 16px;
    display: flex;
}

.social__link {
    background-color: #f06449;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* NAVIGATION */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height:  100px;
}

#personal-logo {
    width: 50px;
    height: 50px;
    filter: invert(1);
}


.nav__link--list {
    display: flex;
}

.nav__link {
    margin:  0 12px;
}
.nav__link--anchor {
    font-size: 16;
    color: #242424;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
}